@use '/src/styles/constants/colors';

.wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100vw;
  height: 100vh;
  color: colors.$BLUE;
  background-color: colors.$RED;
}
